@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-d-dark-blue: hsl(209, 23%, 22%);
    --color-d-very-dark-blue: hsl(207, 26%, 17%);
    --color-l-very-dark-blue: hsl(200, 15%, 8%);
    --color-l-dark-gray: hsl(0, 0%, 52%);
    --color-l-light-gray: hsl(0, 0%, 98%);

    --font-nunito: 'Nunito Sans', serif
}